<m-moblet init="init"  is-loading="isLoading" inner-scroll="true" no-content="noContent" unavaliable="error">
  <m-content reload="load">
    <div class="album" ng-if="!isDetail">
      <div class="foto" ng-repeat="item in items" ng-click="goTo(item)">
        <div class="skeleton thumb-size">
          <div id="img-{{item.id}}" class="thumb" ng-style="{'background-image':'url({{item.image.original.url}})'}" ></div>
          <img id="control-img-{{item.id}}" image-id="{{item.id}}" onload="malbumImageLoaded(this)"  ng-src="{{item.image.original.url}}" style="display:none" />
        </div>
      </div>
    </div>
    <div class="detail" ng-if="isDetail">
      <div class="foto skeleton">
        <div class="image" ng-class="{'move-out':nextAnimation , 'no-animation':!nextAnimation}" ng-style="getDetailImage(detail)"
          ng-click="openModal()"
        ></div>
        <div class="image prox" ng-style="getDetailImage(nextDetail)"></div>
        <div class="image previ" ng-style="getDetailImage(prevDetail)" ng-class="{'move-in':prevAnimation , 'no-animation':!prevAnimation}"></div>
        <div class="action prev" ng-click="prev(detail)" ng-show='showPrev(detail)'>
          <a class="icon ion-chevron-left" ></a>
        </div>
        <div class="action next" ng-click="next(detail)" ng-show='showNext(detail)'>
          <a class="icon ion-chevron-right" ></a>
        </div>
      </div>
      <div class="text">
        <h3 class="title">{{detail.note}}</h3>
        <!--<p class="description">{{detail.note}}</p>-->
      </div>
    </div>
    <script id="malbum-zoom-modal.html" type="text/ng-template">
      <ion-modal-view class="m-album-modal">
        <ion-content  ng-click="closeModal()">
          <div class="slide-zoom-container">
            <ion-scroll  delegate-handle="m-album-zoom-scroll" zooming="true" overflow-scroll="false" direction="xy">
              <img class="image" ng-src="{{detail.image.original.url}}" />
            </ion-scroll>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </m-content>
</m-moblet>